body {
  font-family: Overpass;
  margin: 0;
  background-color: salmon;
}

h1, h2, h3 {
  color: white;
  font-family: Chivo;
  text-decoration: underline;
}

p {
  color: antiquewhite;
  opacity: .7;
}

.heading {
  width: 800px;
  margin: auto;
}

.banner {
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('images/himalayas.jpg');
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  text-align: center;
}

.banner h1 {
  color: white;
  font-size: 45px;
  margin: 0;
}

.banner p {
  color: cornsilk;
  font-size: 24px;

}

.btn-blue {
  padding: 9px,8px,9px,6px;
  text-decoration: none;
  color:rgb(230, 230, 230);
  border: 2px solid black;
  background-color: silver;
  border-radius: 8px;
  box-shadow:4px 4px 2px 0px rgba(0, 0, 0.75);
  margin:50px auto;

}

.btn-blue:hover {
  background-color: azure;
  color: black;
}

.options {
  background-color: #802713;
  box-shadow: 0 0 16px rgba(0,0,0,0.1);
  border-radius: 4px;
  width: 200px;
  text-align: center;
  padding: 24px;
 optionspx;
}

.options img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 4px;
}

.options h3 {
  margin-bottom: 0;
}

.footer {
  background: moccasin;
  text-align: center;
  padding: 24px 0;
}

.footer p {
  color: black;
}

.big {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

@media (max-width: 800px) {
  .big {
    grid-template-columns: 1fr;
  }
  
  .options {
    width: auto;
  }
}
  
@media (min-width: 500px) {
  .heading {
    width: 400px;
  }
}heading


@media (min-width: 800px) {
  .heading {
    width: 600px;
  }
}

@media (min-width: 1000px) {
  .heading {
    width: 800px;
  }
}